nav
  ul.right
    li
      a
        font-weight: 300
section
  header
    background-position: center bottom
    padding: 120px 0 120px
    background-repeat: no-repeat
    background-color: #476173
    h1
      color: #FEF0D9
      font-weight: 500
    h4
      color: white
      font-weight: 100

body
  background-color: white

  p, a
    font-weight: 300

section#main
  margin-top: 40px

div#docs
  section
    li
      a.active
        font-weight: 700

pre
  background-color: #c0c0c0
  padding: 10px
  margin-bottom: 20px
  code
    color: #333
    font-weight: 100

