.row
  h1 Community

  .row.padding-bottom-medium
    .large-1.columns
      icon.fa.fa-envelope.fa-border.fa-2x.fa-lg.pull-right.fa-align-center
    .large-11.columns
      .row
        .large-6.columns
          p 
            'Join the 
            a href="https://groups.google.com/forum/#!forum/influxdb" mailing list for users and developers
            '.
  .row.padding-bottom-medium
    .large-1.columns
      icon.fa.fa-twitter.fa-border.fa-2x.fa-lg.pull-right.fa-align-center
    .large-11.columns
      .row
        .large-6.columns
          p 
            'Follow
            a href="https://twitter.com/influxdb" @influxdb
            '  on twitter 

  .row.padding-bottom-medium
    .large-1.columns
      icon.fa.fa-comment.fa-border.fa-2x.fa-lg.pull-right.fa-align-center
    .large-11.columns
      .row
        .large-6.columns
          p 
            'Find us on freenode in #influxdb

  .row.padding-bottom-medium
    .large-1.columns
      icon.fa.fa-exclamation-circle.fa-border.fa-2x.fa-lg.pull-right.fa-align-center
    .large-11.columns
      .row
        .large-6.columns
          p 
            'Log issues on
            a href="https://github.com/influxdb/influxdb/issues" GitHub
            '.

  .row.padding-bottom-medium
    .large-1.columns
      icon.fa.fa-github.fa-border.fa-2x.fa-lg.pull-right.fa-align-center
    .large-11.columns
      .row
        .large-6.columns
          p 
            'Check out the 
            a href="https://github.com/influxdb" source code
            '.
  .row
    .large-7.columns
      h2 In Person
      p
        'If you're in NYC we're up for meeting up and hacking or answering questions almost any time day or night. We are  
        a href="https://twitter.com/jvshahid" @jvshahid
        ', 
        a href="https://twitter.com/toddpersen" @toddpersen
        ', and 
        a href="https://twitter.com/pauldix" @pauldix

      h2 Support
      p
        'We're available for consulting and professional support. We can help you build out a custom solution on top of InfluxDB or help you get set up and making the most of InfluxDB. Drop us a line at 
        a href="mailto:influxdb@errplane.com" influxdb@errplane.com
        '.
      h2 Presenting
      p
        'We're up for giving talks at local user groups, meetups, and conferences any time. We can talk about InfluxDB, distributed computing, our experience building in Go, or scaling real-time analytics. If it's within train distance from NYC, we'd be happy to come to you almost any time. Otherwise, get in touch at
        a href="mailto:influxdb@errplane.com" influxdb@errplane.com
        '  and tell us about your group and when you'd like us to drop by. If it requires a flight we'd like to make sure we can line up some other groups nearby around the same time.