---
title: Welcome to Middleman
---

section.main
  .row
    .large-12.columns
      h1.docs.header
        a href="#" Documentation
      hr



  .row
    .large-9.push-3.columns
      .row
        .large-12.columns
          h2 Overview
    .large-3.pull-9.columns
      .docs.section-container.accordion data-section="accordion" data-options="one_up: false" data-section-small-style="true"
        section.section.active
          p.title
            a href="#" Installation
          .content
            .side-nav
              li
                a.active href="#" Get Started

      p
        a.button.expand href="#" style="margin-bottom: 0;" Download InfluxDB

